html,
body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    border-spacing: 0px;
    text-align: center;
    border-color: #ff8080;

    /* Text styling */
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color: #ff8080;
    font-style: normal;
    font-weight: 500;
    font-variant: normal;
}
/* Header */
.header{
    background-color: rgba(50,50,50,0.95);
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 9999;
    text-align:left;
}
#menu{
    width: 50%;
    text-align: right;
}
.menu_tab{
    margin-right: 10%;
}
#logo{
    height: 40%;
    margin-left: 2%;
    align-self: left;
}
/* a-tags */
a{
    vertical-align: middle;
    font-size: 110%;
    text-decoration: none;
    padding: 2%;
    color: #ff8080;
}
a:hover{
    color: rgba(250,210,210,1);
}
.ref_a{
    font-size: 100%;
    padding: 0%;
    vertical-align: inherit;
    color: tomato;
}
#current_page{
    border-bottom: solid 3px;
    padding-bottom: 1.5%;
    border-color: rgba(250,120,120,0.9);
}
#current_page:hover{
    border-color: rgba(250,210,210,0.9);
}
/* Containers */
.wrapper {
    min-height:100%;
    position:relative;
}
#wrapper_background {
    background-image: url("images/Background.jpg");
    background-size: cover;
}
.content {
    padding: 5%;
    background-color:rgba(250,250,250,0.95) ;
}
#footer{
    padding: 0.5%;
    background-color: rgba(40,40,40,0.95);
    font-size: smaller;
    width: 100%;
    position:absolute;
    bottom:0;
    left:0;
    height: 15px;
}

/* Image (Divs) */
.imgTextContent{
    width: 100%;
}
img{
    z-index: 1;
    max-width:100%;
    max-height:100%;
}

.imgContent{
    width: 100%;
    display: block;
}
#recipe_img{
    display: block;
    margin-bottom: 5%;
}
.history_img{
    max-width: 70%;
}

/* Button & Input */
button, .submitbtn{
    margin-top: 3%;
    background-color: transparent;
    border: 1px solid;
    color: #ff6060;
    padding: 1.5% 1.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80%;
    border-radius: 4px;
}
button:hover, .submitbtn:hover{
    background-color: white;
    cursor: pointer;
}
.submitbtn{
    float: right;
}
form{
    margin-left: 5%;
    text-align: left;
    vertical-align: top;
}
input, select, textarea{
    font-size: 80%;
    color: #ff8080;
}
input,select{
    border: 1px solid;
    border-radius: 4px;
    margin: 2%;
}
textarea{
    width: 100%;
    border-radius: 4px;
}
.name{
    width: 50%;
}
/* Headers */
h1{
    text-align: center;
    font-size: 200%;
    font-weight: 500;
    line-height: 110%;
}
h2 {
    position: absolute;
    left: 0%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(250,250,250,0.9);
    padding-bottom: 3%;
    padding-top: 3%;
    font-size: 200%;
    font-weight: 500;
    line-height: 120%;
}
h3{
    margin-bottom: 0%;
}

/* Line & Line-break */
hr{
    background-image: linear-gradient(to right, rgba(255,128,128, 0), rgba(255,128,128, 0.75), rgba(255,128,128, 0));
    height: 1px;
    border: 0px;
}
.space{
    display: block;
    margin: 1.5% 0%;
    content: "";
}

/* Text position, Home Page */
#recipe_text{
    top: 15%;
}
#history_text{
    top: 60%;
}

/* Layouts */
table{
    width: 100%;
}
#recipe_info{
    width: 40%;
    padding: 2%;
    vertical-align: top
}
#recipe_desc{
    width: 60%;
    padding: 2%;
    vertical-align: top;
}
#recipe_comments{
    margin: 2%;
    width: 50%;
    padding-right: 5%;
    vertical-align: top;
}
#refs{
    text-align: left;
    padding: 15%;
    padding-top: 5%;
}
.history_text{
    width: 30%;
}

